
<h1 style="text-align:right;">Current: 
  <% if @current %>
  <%= @current.value.round 2 %>F <small>(<%= time_ago_in_words @current.ts %> ago)</small>
  <% else %>
  <i>delayed...</i>
  <% end %>
</h1>


<h3>Office Temperature - 24 hours</h3>
<div id="editor-render-0" style="width:97%;height:400px;"></div>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
  OfficeGraphs.overall_temperature($("#editor-render-0")[0],<%= @temps.to_json %>);
});
</script>

<h3>Office Temperature - week</h3>
<div id="editor-render-3" style="width:97%;height:400px;"></div>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
  OfficeGraphs.overall_temperature($("#editor-render-3")[0],<%= @temp_week.to_json %>);
});
</script>


<% if @hourly %>
<h3>Average Temperature by Hour</h3>
<div id="editor-render-1" style="width:97%;height:400px;"></div>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
  OfficeGraphs.hourly_temperature($("#editor-render-1")[0],<%= @hourly.to_json %>);
});
</script>
<% end %>


<% if @hourly && @hourly_min && @hourly_max %>
<h3>Temperature by Hour</h3>
<div id="editor-render-4" style="width:97%;height:400px;"></div>

<script type="text/javascript" language="javascript">
$(document).ready(function(){
  OfficeGraphs.hourly_line_temperature($("#editor-render-4")[0],<%= @hourly.to_json %>, <%= @hourly_min.to_json %>,<%= @hourly_max.to_json %>);
});
</script>
<% end %>

<% if @dow %>
<h3>Average Temperature by Day of the Week</h3>
<div id="editor-render-2" style="width:97%;height:400px;"></div>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
  OfficeGraphs.dow_temperature($("#editor-render-2")[0],<%= @dow.to_json %>);
});
</script>
<% end %>

<table cellspacing="0" cellpadding="2" border="0">
<tr>
  <td>High:</td>
  <td><%= @high.value %>F<!--  on <%#= @high.ts.strftime("%a, %m/%d/%y at %l:%M%P") %> --></td>
</tr>
<tr>
  <td>Low:</td>
  <td><%= @low.value %>F<!--  on <%#= @low.ts.strftime("%a, %m/%d/%y at %l:%M%P") %> --></td>
</tr>
</table>

<!--
TODO:

Overlay the high/low/average for each Hour/DOW?

-->
